<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <div style="background-color:#1b7d99">
          <img width="300" alt="ZoomInfo Logo" src="../assets/logozoominfo.png">
        </div>
        <h1>
          Who wants to be a millionaire
        </h1>
        <nav>
          <div>
              <a routerLink="/start-game" routerLinkActive="active"><button type="button" class=buttonMainScreen>Start Game</button></a>
          </div>
          <div>
              <a routerLink="/leader-board" routerLinkActive="active"><button type="button" class=buttonMainScreen>Leader Board</button></a>
          </div>
        </nav>
</div>
<footer class=footer>
    <img class=logofooter alt="ZoomInfo Logo" src="../assets/logozoominfo.png">
    <img alt="ZoomInfo Logo" src="../assets/footer.png">
</footer>
      