.gameoverContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    top: 0;
    .gameoverTitle{
        text-align: center;
        font-size: 80px;
        font-weight: 800;
        color: white;
        /* text-shadow: 18px 9px #ff0000; */
        text-shadow: 2px 2px 30px #f6f2f2;
    }
    .amazingTitle{
        text-align: center;
        font-size: 150px;
        font-weight: 900;
        color: white;
        /* text-shadow: 18px 9px #ff0000; */
        text-shadow: 2px 2px 30px #f6f2f2; 
    }
    .scoreContainer{
        text-align: center;
        .scoreTitle{
            color: yellow;
            font-size: 35px;
        }
        .score{
            color: white;
            font-size: 50px;
            font-weight: 700;
        }
    }
}
.saveNameContainer{
    height: 200px;
    width: 400px;
    background-color: black;
    border-color: grey;
    border-style: solid;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px; 
    .nameTitle{
        color: white;
        font-size: 20px;
        margin: 10px;
    }
    .nameInput{
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
     }
    .nameButton{
        background-color: grey;
        border-color: grey;
        border-style: solid;
        border-radius: 10px;
    }
}
