.currentPointsContainer{
    display: inline-block;
    margin-right: 20px;
    color: white
}
.currentPoints{
    color: yellow;
    background: black;
    display:inline-block;
    width:100px;
    margin-right: 3px;
} 