.HeaderContainer{
    background: #6aa4ba;
    height: 60px;
    width: 80%;
    margin: auto;
    position: relative;
}
.lifeContainer{
position: absolute;
}
.questionContainer{
    text-align: center;
    color: white;
}
.pointContainer{
    position: absolute;
    right : 0;
    top: 0;
}